@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

.top{
  z-index: 1000 !important;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:35vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.context h2{
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.context p{
    text-align: center;
    color: #fff;
    font-size: 30px;
}


.area{
    background: #95BDFF;  
    background: -webkit-linear-gradient(to left, #F7C8E0, #DFFFD8,);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 100%;
  overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
 width: 85px;
    height: 85px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
 width: 90px;
    height: 90px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
   width: 95px;
    height: 95px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
 width: 100px;
    height: 100px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 105px;
    height: 105px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
  
   width: 80px;
    height: 80px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
     width: 80px;
    height: 80px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
     width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

  
  .h1_st {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  }
  

  .button-line {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-align: center !important;
    font-size: 1.4em;
    opacity: .8;
    padding: 20px 40px;
    text-decoration: none;
    transition: all .5s ease;
 margin:0 auto;
  margin-top:100px;
    width: 100px;
  }
  
  .button-line:hover {
    opacity: 1;
  }
